@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body {
    background-color: rgb(128, 128, 128);
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .title {
     padding: 25px;
}
